.info {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 200px auto 100px;
}

.info__img {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.info__frame {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border: 7px solid #b198c7;
    border-radius: 50%;
}

.info__text {
    color: rgb(73, 72, 72);
    font-size: 50px;
    width: 700px;
    font-weight: 300;
}

.info__text-color {
    color: #a67acc;
    font-weight: 400;
}