.stack {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.stack__title {
    color: #a67acc;
    font-size: 50px;
    margin: 0;
}

.stack__subtitle {
    color: #a67acc;
    font-size: 30px;
    margin: 10px 0 50px;
}

.stack__components {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}